@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply bg-gray-100;
}

.btn-primary {
  @apply my-2 px-4 py-1 bg-blue-500 hover:bg-blue-600 text-white rounded;
}

.card {
  @apply bg-white rounded overflow-hidden shadow-sm hover:shadow-lg relative transition ease-out duration-500;
}

.lighting {
  @apply p-1 bg-white text-xs md:text-sm font-mono rounded;
}

.title {
  @apply text-gray-600 font-bold;
}

.info {
  @apply text-sm md:text-base text-gray-400 font-normal;
}

.code-wrapper {
  @apply my-2 relative text-xs md:text-sm bg-white rounded;
}

.code {
  @apply p-4 block overflow-x-auto;
}

.code::before {
  content: attr(data-code);
  position: absolute;
  top: 5px;
  right: 10px;
  @apply text-gray-300 font-semibold uppercase;
}

.slow {
  @apply transition ease-out duration-500;
}
