@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply bg-gray-100;
}

.btn-primary {
  @apply my-2 px-4 py-1 bg-blue-500 hover:bg-blue-600 text-white rounded;
}

.card {
  @apply bg-white rounded overflow-hidden shadow-sm hover:shadow-lg relative transition ease-out duration-500;
}

.modal-bg {
  @apply px-8 md:px-0 flex justify-center items-start bg-black bg-opacity-25 absolute inset-0 z-10;
}

.modal-form {
  @apply md:w-3/5 lg:w-2/5 transform translate-y-1/2 bg-white rounded shadow-lg;
}

.modal-form__header {
  @apply px-4 py-2 flex justify-between items-center text-lg border-b;
}

.modal-form__content {
  @apply px-4 py-2 border-b overflow-y-auto;
}

.modal-form__footer {
  @apply px-4 py-1 flex justify-end;
}

.input {
  @apply px-2 py-1 rounded shadow-sm;
}

.is-invalid {
  @apply border border-red-600 ring-2 ring-red-500 ring-opacity-50;
}

.invalid-feedback {
  @apply mt-1 px-0.5 text-sm text-red-600;
}

.lighting {
  @apply p-1 bg-white text-xs md:text-sm font-mono rounded;
}

.link {
  @apply font-semibold text-blue-500 hover:text-blue-400 slow;
}

.title {
  @apply text-gray-600 font-bold;
}

.info {
  @apply text-sm md:text-base text-gray-400 font-normal;
}

.code-wrapper {
  @apply my-2 relative text-xs md:text-sm bg-white rounded;
}

.code {
  @apply p-4 block overflow-x-auto;
}

.code::before {
  content: attr(data-code);
  position: absolute;
  top: 5px;
  right: 10px;
  @apply text-gray-300 font-semibold uppercase;
}

.slow {
  @apply transition ease-out duration-500;
}
