@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply bg-gray-100;
}

.card {
  @apply bg-white rounded overflow-hidden shadow-sm relative;
}

.title {
  @apply text-sm md:text-base font-bold;
}

.title-mark {
  @apply text-gray-600 font-bold;
}

.info {
  @apply text-sm md:text-base text-gray-400 font-normal;
}

.code {
  @apply flex overflow-x-auto bg-white my-2 text-sm;
}

.slow {
  @apply transition ease-out duration-200;
}

pre {
  position: relative;
}

code::before {
  content: attr(data-code);
  position: absolute;
  top: 5px;
  right: 10px;
  @apply text-gray-300 font-semibold uppercase;
}
